/*
Theme Name: Abalone
Theme URI: http://underscores.me/
Author: DigitalBox Company
Author URI: http://www.digitalbox.co.th
Description: Abalone theme
Version: 1.0-
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: abalone
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

 DigitalBox is based on Underscores http://underscores.me/, (C) 2012-2014 Automattic, Inc.

Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
and Blueprint http://www.blueprintcss.org/
*/
/**
 *
 * Font face
 *
 */
@font-face {
  font-family: 'thaisans_neue_sembdregular';
  src: url("fonts/thaisansneue-semibold-webfont.eot");
  src: url("fonts/thaisansneue-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/thaisansneue-semibold-webfont.woff") format("woff"), url("fonts/thaisansneue-semibold-webfont.ttf") format("truetype"), url("fonts/thaisansneue-semibold-webfont.svg#thaisans_neue_sembdregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'thaisans_neueregular';
  src: url("fonts/thaisansneue-regular-webfont.eot");
  src: url("fonts/thaisansneue-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/thaisansneue-regular-webfont.woff") format("woff"), url("fonts/thaisansneue-regular-webfont.ttf") format("truetype"), url("fonts/thaisansneue-regular-webfont.svg#thaisans_neueregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/**
 *
 * Tag style and etc class.
 *
 */
body {
  font-family: 'thaisans_neueregular' !important;
}

.headline {
  font-family: 'thaisans_neue_sembdregular' !important;
  color: #26a0b5;
}

/**
 *
 * Override boostrap
 *
 */
.container {
  max-width: 1000px;
}

/**
 *
 * Override meta slider
 *
 */
.flex-control-nav {
  text-align: right !important;
}

.flex-control-paging li a {
  width: 20px !important;
  height: 20px !important;
  background-color: #cccccc !important;
  color: #cccccc;
  font-size: 1px !important;
}

.flex-control-paging li a.flex-active {
  background-color: #26a0b5 !important;
  color: #26a0b5;
}

/**
 *
 *
 * Override contactform
 *
 */
.contactform form {
  text-align: left;
}
.contactform label {
  font-size: 22px !important;
  font-weight: bold !important;
}

#contactsubmit {
  background-color: #26a0b5;
  border: 0;
  color: white;
  padding: 7px 30px;
  font-size: 26px;
}

/**
 *
 * Header
 *
 */
.header {
  background-color: #87c7c9;
  height: 108px;
}
.header__toggle {
  position: relative;
  padding: 9px 10px;
  margin: 62px 15px 8px 0;
  border: 2px solid white;
  border-radius: 4px;
  background-color: #87c7c9;
}
.header__toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1;
  background-color: white;
}
.header__toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}
.header__logo {
  float: left;
  position: absolute;
  z-index: 99;
}
.header__nav {
  margin-top: 70px;
  float: right;
}
.header__nav > ul {
  list-style-type: none;
  padding: 0;
}
.header__nav > ul > li {
  float: left;
  margin: 0 30px;
}
.header__nav > ul > li > a {
  font-family: 'thaisans_neueregular';
  font-size: 18px;
  color: white;
}

/**
*
* Body
*
*/
.body__content {
  text-align: center;
}

/**
*
* Footer
*
*/
.footer__callcenter {
  font-family: 'thaisans_neueregular';
  font-size: 20px;
  color: #87c7c9;
  display: inline-block;
  padding-top: 30px;
}
@media (max-width: 767px) {
  .footer__callcenter {
    font-size: 14px;
  }
}
.footer__overtab {
  height: 60px;
}
.footer__tabinfo {
  background-color: #87c7c9;
  color: white;
  padding: 8px 0;
  /* height: 80px; */
}
.footer__tabinfo span {
  font-family: 'thaisans_neueregular';
  font-size: 24px;
  display: block;
  padding: 5px 0;
}
@media (max-width: 767px) {
  .footer__tabinfo span {
    font-size: 11px;
  }
}
.footer__tabinfo span + span {
  font-size: 18px;
}
@media (max-width: 767px) {
  .footer__tabinfo span + span {
    font-size: 14px;
  }
}
.footer__logo {
  float: right;
  position: relative;
  bottom: -11px;
}
